.header {
  border-bottom: 1px solid rgb(var(--b6a));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: white;
}

.headerContainer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--t) {
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  color: currentColor;
  display: none;

  @media (--t) {
    display: block;
  }
}

.search {
  background-color: rgb(var(--b3f));
  border: 1px solid rgb(var(--b6a));
  width: 215px;
  height: 28px;
  border-radius: 4px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;
  font-weight: 400;
}
