.main {
  width: 100%;
  background-color: rgb(var(--b3f));
  z-index: -99;
  position: absolute;
}

.mainContainer {
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

  @media (--t) {
    margin-left: auto;
    margin-right: auto;
  }
}
