.navigation {
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  gap: 18px;
  background-color: white;
  border-top: 1px solid rgb(var(--b6a));

  @media (--t) {
    border: none;

    height: auto;
    position: static;

    justify-content: end;
    padding-right: 0px;
    padding-left: 00px;
  }
}
