.infoContainer {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
  padding-left: 32px;
  font-size: 17px;
}

.avatarContainer {
  width: 14em;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit {
  display: flex;
  align-items: center;

  .slug {
    display: block;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.1em;
    font-weight: 100;
    color: rgb(var(--i1d));
    align-self: flex-end;
  }
}

.editProfile {
  font-weight: 600;
  padding: 8px;
  border: 1px solid rgb(var(--ca6));
  border-radius: 4px;
  margin-left: 32px;
  margin-right: 32px;
}

.numbers {
  span {
    cursor: pointer;
  }

  span + span {
    display: inline-block;
    margin-left: 30px;
  }

  .numberItem {
    font-weight: 600;
  }
}

.name {
  font-size: 1.05em;
  h1 {
    font-weight: 600;
    margin-bottom: 4px;
  }
}

.stories {
  //height: 120px;
  margin-top: 64px;
  margin-bottom: 64px;
  padding-left: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 22px;
}

.navigationContainer {
  height: 100%;
  border-top: 1px solid rgb(var(--b38));
  color: rgb(142, 142, 142);
  color: black;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 16px;

  .navigationItem {
    padding-top: 12px;
    color: rgb(142, 142, 142);
  }

  .navigationItemActive {
    border-top: 1px solid black;
    color: black;
  }
}

.navigationIcon {
  width: 0.8em;
  height: 0.8em;
  margin-right: 2px;
}

.end {
  margin-bottom: 48px;
}
