.container {
  padding-left: 8px;
  background-color: white;
}

.owner {
  font-weight: 600;
  display: inline-block;
  padding-right: 8px;
}

.content {
  //white-space: nowrap;
}

.more {
  color: rgb(var(--f52));
  cursor: pointer;
}

.count {
  margin-top: 8px;
  padding-bottom: 8px;
  color: rgb(var(--f52));
  font-size: 1.1em;
  font-weight: 200;
  cursor: pointer;
}

.time {
  color: rgb(var(--f52));
  font-size: 0.8em;
  padding-bottom: 8px;
}
